@page "/"
@using TouchBubbles.Shared.Models
@using System.Net.Http
@inject HttpClient Http
@inject IJSRuntime JsRuntime;

<button @onclick="AddAsync">Test</button>
<button @onclick="Change">Test2</button>
<div class="swiper-container">
    <div class="swiper-wrapper">
        @foreach (var bubble in bubbles)
        {
            <div class="swiper-slide">
                <div class="bubble">
                    <div class="bubble-content">
                        <h3 class="bubble-name">@bubble.Name</h3>
                        <div>
                            <svg class="bubble-background" viewBox="0 0 100 100" preserveAspectRatio="xMidYMin slice">
                                <circle cx="50" cy="50" r="49" stroke="@bubble.BackgroundOutline" stroke-width="2" fill="@bubble.BackgroundColor"></circle>
                            </svg>
                            <span class="bubble-icon mdi @bubble.Icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


@code
{
    private IList<Bubble> bubbles = new List<Bubble>
{
        new Bubble(),
        new Bubble(),
        new Bubble
        {
            BackgroundColor = "Gray",
            Name = "Settings",
            Icon = "mdi-cog-outline",
        },
        new Bubble
        {
            BackgroundColor = "Transparent",
            BackgroundOutline = "LightGray",
            Name = "Add entity",
            Icon = "mdi-plus",
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeAsync<string>("Swiper.Initialize", Array.Empty<object>());
            return;
        }

        await UpdateSlidesAsync();
    }

    public async void AddAsync()
    {
        bubbles.Add(new Bubble { BackgroundColor = "Blue" });
        await UpdateSlidesAsync();

        await Http.GetAsync("Entity");
    }

    private void Change()
    {
        bubbles.Last().BackgroundColor = "Green";
    }

    private async Task UpdateSlidesAsync()
    {
        await JsRuntime.InvokeAsync<string>("Swiper.Update", Array.Empty<object>());
    }
}
