@using TouchBubbles.Client.Services
@using TouchBubbles.Shared.Models.HomeAssistant
@inject IEntityService EntityService
@inject IProfileService ProfileService 

<div class="add-entity-overlay">
    @foreach (var entity in _entities)
    {
        <div class="entity" @onclick="() => AddEntityToCurrentProfile(entity)">    
            <span class="mdi @entity.Icon"></span>
            @($"{entity.Name} ({entity.Type})")
        </div>
    }
</div>




@code {

    private List<Entity> _entities = new List<Entity>();

    protected override async Task OnInitializedAsync()
    {
        _entities = EntityService.Entities.OrderBy(e => e.Type).ThenBy(e => e.Name).ToList();
    }

    private void AddEntityToCurrentProfile(Entity entity)
    {
        ProfileService.ActiveProfile.Entities.Add(entity);
    }
}
