@using TouchBubbles.Client.Services
@using TouchBubbles.Shared.Models
@inject IProfileService ProfileService
@inject IOverlayService OverlayService

<div class="add-profile-overlay">
    @foreach (var profile in _profiles)
    {
        <div class="profile" @onclick="() => SelectProfile(profile)">
            @profile.Name
        </div>
    }
</div>
<button @onclick="OnAddProfileClick">Add Profile</button>

@code {

    private IReadOnlyCollection<Profile> _profiles = Array.Empty<Profile>();

    protected override void OnInitialized()
    {
        ProfileService.Profiles.Subscribe(p =>
        {
            _profiles = p;
            StateHasChanged();
        });
    }

    private void OnAddProfileClick()
    {
        ProfileService.AddProfileAsync("New Profile");
    }

    private void SelectProfile(Profile profile)
    {
        ProfileService.SetActiveProfile(profile);
        OverlayService.HideOverlay();
    }
}