@using TouchBubbles.Shared.Models
@using TouchBubbles.Client.Models.Bubbles
@inject IJSRuntime JsRuntime;

<div class="bubble">
    <div class="bubble-content">
        <h3 class="bubble-name">@Model.Name</h3>
        <BubbleSlider
            BackgroundColor="@Model.BackgroundColor"
            BackgroundOutline="@Model.BackgroundColorOutline"
            Icon="@Model.Icon"
            SliderColor="Red"
            @bind-SlidingValue="Model.SlidingValue"
            SupportsSlidingValue="Model.SupportsSlidingValue"
            OnClick="OnBubbleClickedAsync"/>
    </div>
</div>

@code {

    [Parameter]
    public Bubble Model
    {
        get => _model ??= new Bubble();
        set => _model = value;
    }

    ElementReference SvgReference { get; set; }

    protected override void OnParametersSet()
    {
        if (Model is EntityBubble entityBubble)
            entityBubble.BubbleChanged += OnEntityChanged;
    }

    private void OnEntityChanged()
    {
        StateHasChanged();
    }

    private async void OnBubbleClickedAsync()
    {
        await Model.OnClickAsync();
    }

    private Bubble? _model;
}