@font-face {
    font-family: "NunitoSans";
    src: url(/fonts/NunitoSans-Light.ttf) format("truetype");
}

html { height: 100%; }
body {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: "NunitoSans", sans-serif;
    font-weight: lighter; 
}
app {
    margin: 0;
}
.main { height: 100%; }
.swiper-container {
    height: 100%;
}
.swiper-wrapper {
    height: 100%;
}
.swiper-slide {
    height: 100%;
}

.swiper-slide {
    transition: transform 0.2s, opacity 0.1s;
    transform: scale(0.5);
    opacity: 0.6;
}

.swiper-slide.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.swiper-pagination-bullet {
    background: darkgray;
    width: 3vw;
    height: 3vw;
}

.bubble {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble-name {
    color: white;
    font-size: 3vw;
    margin-bottom: 2vw;
    margin-top: 0;
    font-weight: normal;
}

.bubble-content {
    width: 100%;
    text-align: center;
}

.bubble-background {
    width: 100%;
    padding-bottom: 100%;
    height: 1px;
    overflow: visible;
}

.bubble-icon {
    color: white;
    left: 50%;
    top: 50%;
    height: 20vw;
    width: 20vw;
    margin-top: -10vw;
    margin-left: -10vw;
    font-size: 20vw;
    position: fixed;
}
