@font-face {
    font-family: "NunitoSans";
    src: url(/fonts/NunitoSans-Light.ttf) format("truetype");
}

html {
    height:100%;
    overflow:hidden;
}

body {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: "NunitoSans", sans-serif;
    font-weight: lighter;
    overflow: hidden;
    font-size: 3vw;
}

app {
    margin: 0;
}

input[type=checkbox] {
    height:3vw;
    width: 3vw;
}