.swiper-slide {
    height: 100%;
}

.swiper-pagination-bullet {
    background: darkgray;
    width: 3vw;
    height: 3vw;
}

.bubble {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bubble-above {
    flex: 1 1 0;
    align-items: flex-end;
    display: flex;
    margin-bottom: 2vh;
}

.bubble-below {
    flex: 1 1 0;
    align-items: start;
    justify-content: center;
    margin-top: 2vh;
}

.bubble-name {
    color: white;
    margin: 0;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.bubble-content {
    width: 100%;
    text-align: center;
}

.bubble-controls {
    margin-top: 1vw;
}

.bubble-controls button {
    color: white;
    background: none;
    border: none;
    font-size: 4vw;
}