.bubble-background {
    width: 100%;
}

.bubble-container {
    position: relative;
    display: flex;
    transition: filter 0.2s ease, transform 0.2s ease;
}

.bubble-container:not(.active) .bubble-background {
    filter: grayscale(0.5);
}

.bubble-container:not(.active) {
    transform: scale(0.8);
}

circle {
    transition: stroke 0.25s ease, fill 0.25s ease, opacity 0.25s ease;
}

.active circle.fill {
    opacity: 1;
}

circle.fill {
    opacity: 0.1;
}

rect {
    transition: 0.25s ease-out, height 0.25s ease-out;
}

.on-drag rect {
    transition: initial;
}

.bubble-icon {
    color: white;
    left: 50%;
    top: 50%;
    height: 20vw;
    width: 20vw;
    margin-top: -10vw;
    margin-left: -10vw;
    font-size: 15vw;
    position: absolute;
    pointer-events: none;
    line-height: 20vw;
    transition: color 0.2s ease;
}

.bubble-container:not(.active) .bubble-icon {
    color: grey;
}


.bubble-icon:before {
    display: block;
}